body {
  background-color: #eae5e5; /*потом убрать*/
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 92px 24px 96px;
  font-weight: normal;
  font-size: 18px;
  background-color: #fff;
}


.header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  list-style-type: circle;
}

.header__menu-item_active {
  text-decoration: underline;
}

.header__menu-item_no-bullit {
  list-style-type: none;
}

.a {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: unset;
  max-height: 100%;
  aspect-ratio: 130/105;
}

.header__address {
  display: flex;
  flex-direction: column;
}

.address__item-place {
  text-decoration: none;
  font-size: 18px;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 135px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
}

.text_start {
  justify-content: start;
}
.text_center {
  justify-content: center;
}

.text_right {
  justify-content: end;
}

.spaced-0 {
  letter-spacing: 0px;
}

.spaced-30 {
  letter-spacing: 30px;
}

.spaced-60 {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 26px;
}

.bet-button {
  border: #fff, solid, 2px;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 180px 24px 145px;
  background-color: #fff;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap:25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  color:#fff;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px 48px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-weight: normal;
  font-size: 20px;
}

.about {
  background-color: #fff;
  padding: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 2fr;
  grid-template-rows: 595px;
}

.about__column-left {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.about__logo-image {
  max-height: 114px;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  padding-top: 136px;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.about__text {
   font-size: 20px;
   font-weight: normal;
   line-height: 24px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.footer {
  padding: 0 50px 88px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__address {
   font-size: 18px;
   display: flex;
   flex-direction: column;
}

.footer__menu-list {
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}

