body {
  background-color: #de9191; /*потом убрать*/
}

.header {
  padding: 92px 24px 96px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: normal;
  background-color: #fff; /*потом убрать*/
}


.header__menu-list {
  display: flex;
  list-style-type: circle;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}

.header__menu-item_active {
  text-decoration: underline;
}

.header__menu-item_no-bullit {
  list-style-type: none;
}

.a {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: unset;
  aspect-ratio: 130/105;
  max-height: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
}

.cover {
  padding: 165px 50px 50px;
  background-color: #fff; /*потом убрать */
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 135px;
  color: #fff;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
}

.text_start {
  justify-content: start;
}
.text_center {
  justify-content: center;
}

.text_right {
  justify-content: end;
}

.spaced-0 {
  letter-spacing: 0px;
}

.spaced-30 {
  letter-spacing: 30px;
}

.spaced-60 {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: #fff, solid, 2px;
}