body {
  background-color: #eae5e5; /*потом убрать*/
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 96px;
  font-weight: normal;
  font-size: 18px;
  background-color: #fff;
}

.header__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  min-height: 105px;
  list-style-type: circle;
}

.header__menu-item_active {
  text-decoration: underline;
}

.header__menu-item_no-bullit {
  list-style-type: none;
}

.a {
  text-decoration: none;
}

.header__logo {
  position: absolute;
  left: calc(50% - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 110px;
}

.header__logo-image {
  width: unset;
  max-height: 100%;
  aspect-ratio: 130/105;
}

.address {
  position: relative;
  right: 35px;
}

.header__address {
  display: flex;
  flex-direction: column;
}

.address__item {
  line-height: 24px;
}

.address__item-place {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover > * {
   z-index: 1;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.cover__title > span:nth-child(2) {
  position: relative;
  right: 28px;
  margin-top: 10px;
}

.aligned-text {
  display: flex;
}

.text_start {
  justify-content: start;
}
.text_center {
  justify-content: center;
}

.text_right {
  justify-content: end;
}

.spaced-0 {
  letter-spacing: 0px;
}

.spaced-30 {
  letter-spacing: 30px;
}

.spaced-60 {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 21px;
}

.bet-button {
  border: #fff, solid, 2px;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 177px 24px 145px;
  background-color: #fff;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap:25px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  display: block;
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 563px;
}

.lots__card-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lots__card-list-item * {
  z-index: 1;
}

.card-link {
  display: block;
  height: 100%;
  color:#fff;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px 48px;
}


.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  max-width: 192px;
  margin-left: 40px;
  border-bottom: 1px #000 solid;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  grid-template-rows: 595px;
  padding: 3px 24px 180px;
  background-color: #fff;
}

.about__column-left {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  max-height: 114px;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 136px;
}

.about__title {
  padding-left: 25px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 25px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 50px 88px;
  background-color: #fff;
}

.footer__address {
   display: flex;
   flex-direction: column;
   font-size: 18px;
}

.footer__menu-list {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  list-style-type: none;
}

.footer__menu-list:nth-child(2) {
  position: absolute;
  left: calc(50% - 74px);
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}

